# macOS
.DS_Store

# .vscode
/.vscode/

# node
node_modules/

# build
dist

# pnpm
.pnpm-store

# vitepress
docs/.vitepress/cache

# copied readme
docs/themes/sparkler.md
docs/themes/popper.md
docs/themes/ribbon.md
docs/themes/sakura.md
docs/themes/index.md
